
/* GLOBAL RESETS */
* { box-sizing: border-box; }

// VARIABLES
$color-text-body: rgba(0,0,0,.8);
$color-text-headings: rgba(0,0,0,1);
$color-accent: rgb(87, 160, 255);
$color-accent-dark: rgb(224, 142, 150);
$color-accent-light: rgb(255, 225, 230);

$color-lightgrey: rgba(0,0,0,.5);

$font-family-sans: 'Source Sans Pro', 'new-hero', Arial, sans-serif;
$font-family-serif: 'Playfair Display', 'Kepler', 'Times New Roman', Times, serif;

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS
@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
@import "partials/media"; 
@import "partials/layout";   
@import "partials/grid";   
@import "partials/structure";  


